{% extends 'base.html' %}

{% block title %}New Post Form{% endblock %}

{% block content %}
<h1>Create a new post</h1>
<form action="/users/{{user.id}}/posts/new" method="POST">
        <label for="title">Title
            <input type="text" name="title">
        </label>
        <label for="content">Content
            <textarea name="content" rows="4" cols="50"></textarea>
        </label>
        <br>
        {% for tag in tags %}
        <label for="tag">
            <input name="tag" value="{{tag.name}}" type="checkbox">{{tag.name}}
        </label>
        {% endfor %}
    <a class="btn btn-outline-primary" href="/users/{{user.id}}">Cancel</a>
    <button class="btn btn-success" type="submit">Add</button>
</form>
{% endblock %}