{% extends 'base.html' %}

{% block title %}Edit Post Form{% endblock %}

{% block content %}
<h1>Edit a post</h1>
<form action="/posts/{{post.id}}/edit" method="POST">
        <label for="title">Title
            <input type="text" name="title" value="{{post.title}}">
        </label>
        <label for="content">Content
            <textarea name="content" rows="4" cols="50">{{post.content}}</textarea>
        </label>
        <br>
        {% for tag in tags %}
        {% if tag in post.tags %}
        <label for="tag">
            <input name="tag" value="{{tag.name}}" type="checkbox" checked>{{tag.name}}
        </label>
        {% else %}
        <label for="tag">
            <input name="tag" value="{{tag.name}}" type="checkbox">{{tag.name}}
        </label>
        {% endif %}
        {% endfor %}
    <a class="btn btn-outline-primary" href="/posts/{{post.id}}">Cancel</a>
    <button class="btn btn-success" type="submit">Edit</button>
</form>
{% endblock %}