{% extends 'base.html' %}

{% block title %}Edit Tag Form{% endblock %}

{% block content %}
<h1>Edit a tag</h1>
<form action="/tags/{{tag.id}}/edit" method="POST">
        <label for="name">Name
            <input type="text" name="name" value="{{tag.name}}">
        </label>
    <a class="btn btn-outline-primary" href="/tags/{{tag.id}}">Cancel</a>
    <button class="btn btn-success" type="submit">Edit</button>
    <br>
    {% for post in posts %}
    {% if post in tag.posts %}
    <label for="post">
        <input name="post" value="{{post.title}}" type="checkbox" checked>{{post.title}}
    </label>
    <br>
    {% else %}
    <label for="post">
        <input name="post" value="{{post.title}}" type="checkbox">{{post.title}}
    </label>
    <br>
    {% endif %}
    {% endfor %}
</form>
{% endblock %}