{% extends 'base.html' %}

{% block title %}User Edit Page{% endblock %}

{% block content %}
<h1>Edit a user</h1>
<form action="/users/{{user.id}}/edit" method="POST">
    <label for="first-name">First Name
        <input type="text" name="first-name" value="{{user.first_name}}">
    </label>
    <label for="last-name">Last Name
        <input type="text" name="last-name" value="{{user.last_name}}">
    </label>
    <label for="image-url">Image URL
        <input type="text" name="image-url" value="{{user.image_url}}">
    </label>
    <a class="btn" href="/users/{{user.id}}">Cancel</a>
    <button type="submit">Save</button>
</form>
{% endblock %}